<template>
  <div class="about">
    <h1>This is an OX Game Example page</h1>
    <div></div>
    <OXTable />
    <h1>{{ isLogin }}</h1>
  </div>
</template>
<script>
import OXTable from '../components/OXTable.vue'
export default {
  name: 'AboutView',
  data () {
    return {}
  },
  components: {
    OXTable
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
