<template>
  <b-container>
    <b-row align-h="center">
      <b-col cols="4">
        <div>
          <b-card
            title="Login"
            img-alt="Image"
            img-top
            tag="article"
            style="max-width: 70rem"
            class="mb-2"
          >
            <b-card-text>
              <div style="text-align: justify; margin-bottom: 20px;">
                <b-form @submit="onSubmit" @reset="onReset" v-if="show">
                  <b-form-group
                    id="input-group-1"
                    label="Email address:"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.email"
                      type="email"
                      placeholder="Enter email"
                      required
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    id="input-group-2"
                    label="Your Password:"
                    label-for="input-2"
                  >
                    <b-form-input
                      id="input-2"
                      v-model="form.password"
                      placeholder="Enter Password"
                      required
                      type="password"
                    ></b-form-input>
                  </b-form-group><br>
                  <b-button type="reset" style="margin-right: 15px;" variant="danger">Reset</b-button>
                  <b-button type="submit" variant="primary">Login</b-button>
                </b-form>
              </div>

            </b-card-text>
          </b-card>
        </div>
        Login status: {{ $store.getters['auth/isLogin']}}
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      this.$store.dispatch('auth/login', this.form)
    },
    onReset (event) {
      event.preventDefault()
      this.form.email = ''
      this.form.password = ''
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
