<template>
  <div id="app">
    <nav>
      <router-link to="/">Home</router-link> |
      <router-link to="/Ox Example">OX Example</router-link> |
      <router-link to="/Login Example">Login Example</router-link> |
       <router-link to="/Calendar Example">Calendar Example</router-link>
      <button  @click="logout()" v-if="isLogin" class="btn btn-danger" id="btn">
        Logout
      </button>
    </nav>
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'AboutView',
  data () {
    return {}
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/logout')
    }
  }
}
</script>
<style>
  #btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
  }
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
